.navbar-light .navbar-toggler-icon{
    background-image: none;
    background-image: url('../assets/images/group-3.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
}   
.navbar-toggler:not(:disabled):not(.disabled){
    border: none;
    outline: none;
}
.navbar-brand{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    color: #2c2c2c;
}
.navbar-brand img{
    margin-right: 11px;
}