.navbar-light .navbar-toggler-icon.toggle-icon{
    background-image: none;
    background-image: url('../assets/images/mobile-toggler-icon.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
}   
.navbar-toggler:not(:disabled):not(.disabled){
    border: none;
    outline: none;
}
