.navbar-light .navbar-toggler-icon.toggle-icon{
    background-image: none;
    background-image: url('../assets/images/mobile-toggler-icon.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
}   
.navbar-toggler:not(:disabled):not(.disabled){
    border: none;
    outline: none;
}
.logo-icon{
    width: 218px;
    height: auto;
}
.nav-item .nav-link.list-link, .navbar-light .navbar-nav .nav-link.list-link:focus, .navbar-light .navbar-nav .nav-link.list-link:hover{
    font-size: 12px;
    font-family: AvertaBold;
    line-height: 1.83;
    color: #2c2c2c;
}
.navbar-light .navbar-nav .active >.nav-link.list-link{
    color: #3f9dfe;
    border-bottom: 2px solid #3f9dfe;
}
.navbar-light .navbar-nav .nav-link.list-link:focus, .navbar-light .navbar-nav .nav-link.list-link:hover