.contact-us-popup-overlay{
    opacity: 0.96;
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
}
.contact-us-popop-innerlay{
    min-height: 100vh;
    border-radius: unset;
    border:none;
}
.contact-us-popup-wrapper, .contact-popup-close{
    padding: 0;
}
.contact-us-logo{
    width: 218px;
    height: auto;
}
.contact-popup-close, .contact-us-popup-wrapper{
    border: none;
    background-color: transparent;
}
.contact-header, .contact-info, .form-group input, .contact-us-popop-innerlay form .form-group label{
    font-family: AvertaRegular;
}
.contact-header{
    font-size: 28px; 
    color: #0c152e;
}
.contact-info{
    opacity: 0.5;
    font-size: 10px;
    line-height: 1.8;
    color: #010101;
}
.form-group input{
    font-size: 18px;
    color: #0c152e;
    padding: 0;
    border: none;
    border-bottom: solid 1px #a0a0a0;
    border-radius: 0;
    -webkit-appearance: none;
}
.contact-btn-wrap{
    width: 100%;
}
.contact-us-popop-innerlay form .form-group input:focus + label{
    top: -6px;
}
.contact-us-popop-innerlay form .form-group label{
    left: 50%;
    top: 50%;
    color: #010101;
    opacity: 0.5;
    font-size: 10px;
    line-height: 1.8;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    transform: translate(-50%);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.contact-us-popop-innerlay form .form-group{
    position: relative;
}
.contact-us-popop-innerlay form .form-group input:focus{
    box-shadow: none;
    border-bottom: 1px solid #3f9dfe;
}
.contact-form-submit{
    padding: 17px;
    border-radius: 3px;
    background-color: #3f9dfe;
    font-family: AvertaExtraBold;
    font-size: 15px;
    width: 50%;
    line-height: 1.47;
    color: #fff;
}
.contact-us-popop-innerlay{
    padding: 40px 20px;
}
.contact-header{
    margin-bottom: 17px;
}
.contact-header-wrap{
    margin-bottom: 35px;
}
.contact-us-popop-innerlay form .form-group{
    margin-bottom: 40px;
}
@media screen and (min-width: 1024px){
    .contact-us-popop-innerlay{
        padding: 51px 79px 108px;
    }
    .contact-us-popup-wrapper{
        margin-bottom: 122px;
    }
    .contact-header-wrap{
        margin-bottom: 79px;
    }
    .email-block, .mobile-number-block{
        width: 49%;
    }
    .form-block{
        width: 100%;
    }
    .contact-form{
        max-width: 750px;
    }
    .contact-form .form-group input{
        text-align: center;
    }
    .form-group input{
        font-size: 24px;
    }
    .contact-us-popop-innerlay form .form-group label{
        text-align: center;
    }
}
@media screen and (max-width:992px){
    .contact-us-popup-container{
        flex: 1;
    }
    .form-group {
        width: 100%;
    }
}