.dashboard-main-container {
    padding: 0 5px;
}
.dashboard-component-main-wrapper{
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #c3c3c3;
    padding: 28px 0 0;
    margin-bottom: 15px;
}
.dashboard-wallet-label{
    font-size: 10px;
    color: #878fa4;
    text-transform: capitalize;
    font-family: AvertaBold;
}
.dashboard-detail-heading{
    font-size: 10px;
    text-transform: uppercase;
    color: #878fa4;
    font-family: AvertaExtraBold;
}
a:hover{
    text-decoration: none;
}
#wallet-page .favourites_component,#wallet-page .all_denarii_component,
a.canvasjs-chart-credit,
#learn_reward_component {
    display: none;
}
.dashboard-main-container.active{
    display:block!important;
}
div#main-container{
    background-color: #fff;
}
.share-details-popup{
    display: none;
    top: 0;
    left: -630px;
    bottom: 0;
    z-index:1000;
    width: 600px;
    height: 100vh;
    overflow: auto;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s left ease-in-out;
    -o-transition: 0.3s left ease-in-out;
    -moz-transition: 0.3s left ease-in-out;
    -webkit-transition: 0.3s left ease-in-out;
}
.share-details-popup.active{
    left: 0;
    display: block;
}
@media screen and (min-width: 992px){
    .dashboard-main-container{
        position: relative;
        z-index: 10;
        padding: 0 30px 50px;
    }
    div#dashboard_recent_transactions_component{
        flex: 2;
        margin-right: 10px;
    }
    .dashboard-left-container{
        width: 70%;
        margin-right: 10px;
    }
    .dashboard-right-container{
        width: 30%;
    }
    .dashboard-main-container,#dashboard-inner-left-container,
    div#dashboard_recent_transactions_component,div#dashboard_minting_component {
        flex: 1;
    }
    div#main-container{
        height: 100vh;
        overflow: hidden;  
        position: relative;
    }
    .half-background-layer {
        position: absolute;
        background-color: #f5f6fa;
        bottom: 0;
        height: 50%;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .dashboard-component-main-wrapper{
        margin-bottom: 10px;
    }
    #wallet-page .favourites_component,#wallet-page .all_denarii_component,
    #learn_reward_component{
        display: block;
    }
    #wallet_all_transactions_component{
        height: 100%;
    }
    .dashboard-main-container.active{
        display:flex!important;
    }
    #learn-page div.detail_component{
        height: 50%;
        flex: 1;
    }
}
.dashboard-main-container{
    display:none!important;
}
@media screen and (min-width: 992px) and (max-height: 768px){
    div.favourites_component,div.all_denarii_component{
        height: calc(25% - 5px);
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 1200px){
    #learn-page div.detail_component{
        height: calc(50% - 5px);
    }
}
@media screen and (min-width: 1300px){
    #learn-page div.detail_component{
        height: 360px;
    }
}
@media screen and (min-width: 1024px) and (min-height: 1024px){
    #learn-page div.detail_component{
        height: 360px;
    }
}
@media screen and (min-width: 1200px){
    .dashboard-main-container{
        padding: 0 45px 50px;
    }
}
input[type=number]::-webkit-inner-spin-button, 	
input[type=number]::-webkit-outer-spin-button { 	
    -webkit-appearance: none;	
    -moz-appearance: none;	
    appearance: none;	
    margin: 0; 	
}
.data-field{
    min-height: 76px;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    display: none;  
    visibility: hidden;
}
::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}
input::-webkit-datetime-edit{ color: transparent; }
input[type=tel]::-webkit-inner-spin-button, 
input[type=tel]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}